{% extends "@App/base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block action %}{% endblock %}

{% block title %}Add your theory about the Night King{% endblock %}

{% block description %}You probably know who is the Night King... So just let your thoughts here{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
    {{ form_end(form) }}
{% endblock %}