body {
    padding-top: 50px;
    max-width: 960px;
    margin: auto;
}

img {
    max-width: 100%;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 15px 0;
}

.pull-right{
    float: right
}